html { 
    height: 100%;
}
body { 
    margin: 0;
    height: 100%;
    width: 100%;
}

line {
    stroke-width: 0.3;
    stroke: black;
}

.fillscreen { 
    height: 100%;
    width: 100%;
}
.planet {
    fill: white;
    stroke: black
}

.ship {
    stroke-width: 0%;
}

.player1 {
    fill: red;
}

.player2 {
    fill: blue;
}

.player3 {
    fill: purple;
}

.player4 {
    fill: green;
}

.path {
    stroke: gray;
    opacity: 0.5;
}

.blockfalse{
    stroke: green;
    opacity: 0.3;
}

.blocktrue{
    stroke: red;
    opacity: 0.5;
}
.nextStep{
    stroke: blue;
    opacity: 0.5;
}

.colider {
    stroke: black;
    stroke-width: 0.3;
    fill: transparent;
}

.render {
        position: fixed;
    bottom: 0;
    width: 100%;
}